@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:700);
body {
  background-image: url('/images/pool_table_@2X.png');
  background-repeat: repeat;
  background-size: 128px;
}
h1 {
  font-size: 3em;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding: 20px;
  color: goldenrod;
  border-radius: 60px;
  background-color: rgba(0,0,0,0.5);
  margin: 25px 10px;
}
div {
  padding: 50px;
}
