<!doctype html>

<html>
  <head>
    <title>Checkers</title>
    <meta charset="utf=8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  </head>
  <body>
  <h1>Let's Play Checkers!</h1>
  <table border="0">
    <% for (var h=0; h<8; h++) { %>
      <tr>
      <% for (var v=0; v<8; v++) { %>
        <td>
          <% if (h%2 !== 0 && v%2 !== 0) { %>
            <% if (h<=2) { %>
              <div class="chip teal"/>
            <% } else if (h>=5) { %>
              <div class="chip coral"/>
            <% } %>
          <% } %>
          <% if (h%2 === 0 && v%2 === 0) { %>
            <% if (h<=2) { %>
              <div class="chip teal"/>
            <% } else if (h>=5) { %>
              <div class="chip coral"/>
            <% } %>
          <% } %>
        </td>
      <% } %>
      </tr>
    <% } %>
  </table>

  </body>
  <!-- makes it draggable -->
  <script>
    $('.chip').draggable({ grid: [ 82, 82 ] });
  </script>
</html>
