<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SumList</title>
    <link rel="stylesheet" href="/css/sumstyle.css">
  </head>
  <body>
    <h1>Sum List</h1>
    <table>
      <% for(var i=0; i<nums.length; i++) { %>
      <% var color = nums[i]%2 ? odd : even %>
      <tr style="color:<%= color %>;">
          <td><%= nums[i] %></td>
      </tr>
      <% } %>
        <tr>
          <td><%= sum %></td>
        </tr>
    </table>
  </body>
</html>
